# Lambda Simple Questions

In [1]:
'''1. Write a python lambda function to summarize arguments a, b, and c and return the result.
Data:
    5, 6, 2
Expected outout:
    13'''

x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [5]:
'''2. write a python lambda function to multiply argument a with argument b and return the result.
Data:
    5, 6
Expected output:
    30'''
y = lambda c, d : c * d
print(y(5,6))

30

In [13]:
'''3. Write a python lambda function to add 10 to argument a, and return the result.
Data:
    a = 5
Expected output:
    15'''

z = lambda a : a + 10
print(z(5))

15

In [69]:
'''4. Write a python lambda function to filter out only the even items from a list.
Data:
    my_list = [1, 5, 4, 6, 8, 11, 3, 12]
Expected output:
    [4, 6, 8, 12]'''
my_list = [1, 5, 4, 6, 8, 11, 3, 12]
y = list(filter(lambda x : x % 2 == 0, my_list))

print(list(y))

[4, 6, 8, 12]

In [33]:
'''5.  Write a python lambda function to double each item in a list using map().
Data:
    my_list = [1, 5, 4, 6, 8, 11, 3, 12]
Expected output:
    [2, 10, 8, 12, 16, 22, 6, 24]'''

my_list = [1, 5, 4, 6, 8, 11, 3, 12]

my_list1 = list(map(lambda x : x * 2 , my_list))

print(list(my_list1))

[2, 10, 8, 12, 16, 22, 6, 24]

In [67]:
'''6. Write a python code to illustrate filter() with lambda() to return only the odd numbers from a given list.
Data:
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
Expected output:
    [5, 7, 97, 77, 23, 73, 61]'''

li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

y = list(filter(lambda x : (x % 2 != 0), li))

print(list(y))

[5, 7, 97, 77, 23, 73, 61]

In [49]:
'''7. Write a python code to filter people above 18 years using lambda function.
Data:
    ages = [13, 90, 17, 59, 21, 60, 5]
Expected output:
    [90, 59, 21, 60]'''

ages = [13, 90, 17, 59, 21, 60, 5]

adults = list(filter(lambda age: age>18, ages))
print(adults)

[90, 59, 21, 60]

In [53]:
'''8. Write a python function which has a lambda function to return double and triple of a given value.
Data:
    value = 5
Expected output:
    Value : 5
    Double : 10
    Triple : 15'''

def func(n):
    return lambda a : a * n

x = func(2)
y = func(3)

value = 5
print("Value :", value)
print("Double :", x(value))
print("Triple :", y(value))

Value : 5
Double : 10
Triple : 15

In [59]:
'''9. Write a python code to illustrate map() with lambda() to get double of each items in a given list.
Data:
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
Expected output:
    [10, 14, 44, 194, 108, 124, 154, 46, 146, 122]'''
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

y = list(map(lambda x: x*2, li))

print(list(y))

[10, 14, 44, 194, 108, 124, 154, 46, 146, 122]

In [61]:
'''10. Write a python program to convert lower cases in a given list of strings into upper cases using lambda() and map() function.
Data:
    animals = ['dog', 'cat', 'parrot', 'rabbit']
Expected output:
    ['DOG', 'CAT', 'PARROT', 'RABBIT']'''

animals = ['dog', 'cat', 'parrot', 'rabbit']

y = list(map(lambda animal: str.upper(animal), animals))

print(list(y))

['DOG', 'CAT', 'PARROT', 'RABBIT']