## List Simple - Questions

In [65]:
# 1. Write a Python program to check whether the list is empty or not.

a = []

if len(a) == 0:
    print("list is empty")
else:
    print("List is not empty")

list is empty

In [59]:
''' 2. Write a Python program to access the index of all the elements in a list.
        Data:
            x = [5, 15, 35, 8, 98]
        Expected Output:
            0 5
            1 15
            2 35
            3 8
            4 98 '''

a = [5, 15, 35, 8, 98]
for i in range(len(a)):
    print(i , a[i])

0 5
1 15
2 35
3 8
4 98

In [189]:
''' 3. Write a Python program to convert a list of characters into a string.
        Data:
            x = ['a', 'b', 'c', 'd']
        Expected Output:
            abcd '''

x = ['a', 'b', 'c', 'd']

result = ''.join(x)

print(result)

abcd

In [93]:
''' 4. Write a Python program to find the index of specified item in a list.
        Data:
            x = [10, 30, 4, -6]
        Expected Output:
            Index of 4 is 2 '''

x = [10, 30, 4, -6]
for i in range(len(x)):
    print("index of", x[i] , "is", i)

index of 10 is 0
index of 30 is 1
index of 4 is 2
index of -6 is 3

In [97]:
''' 5. Write a Python program to print the sum of all the items in a list.
    Data:
        t = [1, 2, -8]
    Expected Output:
        sum is -5 '''
t = [1, 2, -8]
sum1 = 0

for i in t:
    sum1 = sum1 + i

print(sum1)

-5

In [99]:
''' 6. Write a Python program to multiply all the items in a list.
        Data:
            [1, 2, -8]
        Expected Output:
            -16 '''
        
t = [1, 2, -8]
mul1 = 1

for i in t:
    mul1 = mul1 * i

print(mul1)

-16

In [101]:
''' 7. Write a Python program to get the largest number from a list.
        Data:
            [1, 2, -8, 0]
        Expected Output:
            2 '''

x = [1, 2, -8, 0]

large = max(x)

print(large)

2

In [103]:
''' 8. Write a Python program to get the smallest number from a list. 
        Data:
            [1, 2, -8, 0]
        Expected Output:
            -8 '''
x = [1, 2, -8, 0]

small = min(x)

print(small)

-8

In [105]:
''' 9. Write a Python program to remove duplicate items from a list.
        Data:
            a = [10,20,30,20,10,50,60,40,80,50,40]
        Expected Output:
            [10, 20, 30, 50, 60, 40, 80] '''

a = [10,20,30,20,10,50,60,40,80,50,40]

x = []

for i in a:
    if i not in x:
        x.append(i)

print(x)

[10, 20, 30, 50, 60, 40, 80]

In [109]:
''' 10. Write a Python program to clone or copy a list.
        Data:
            x = [10, 22, 44, 23, 4]
        Expected Output:
            X - [10, 22, 44, 23, 4]
            Y - [10, 22, 44, 23, 4] '''

x = [10, 22, 44, 23, 4]
y = x.copy()
print(" x ", "-", x)
print(" y ", "-", y)

 x  - [10, 22, 44, 23, 4]
 y  - [10, 22, 44, 23, 4]

In [113]:
''' 11. Write a Python program to convert a tuple into a List.
        Data:
            x = (1,2,3,4,5)
        Expected Output:
            (1, 2, 3, 4, 5)
            [1, 2, 3, 4, 5] '''
x = (1,2,3,4,5)
y = list(x)
print(x)
print(y)

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]

In [121]:
''' 12. Write a Python program to print the numbers of a specified list after removing even numbers from it.
        Data:
            x = [7, 8, 120, 25, 44, 20, 27]
        Expected Output:
            [7, 25, 27] '''
x = [7, 8, 120, 25, 44, 20, 27]

noteven =  []

for i in x:
    if i % 2 == 0:
        continue
    else:
        noteven.append(i)

print(noteven)

[7, 25, 27]

In [129]:
''' 13. Write a Python program to shuffle and print a specified list. 
        Data:
            x = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
        Expected Output:
            ['Pink', 'Black', 'Red', 'Yellow', 'White', 'Green'] '''

import random

x = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
random.shuffle(x)

print(x)

['Red', 'Yellow', 'Green', 'Black', 'Pink', 'White']

In [131]:
''' 14. Write a Python program to append the second list to the first list.
        Data:
            x = [1, 2, 3, 0]
            y = ['Red', 'Green', 'Black']
        Expected Output:
            [1, 2, 3, 0, 'Red', 'Green', 'Black'] '''
x = [1, 2, 3, 0]
y = ['Red', 'Green', 'Black']

x.extend(y)

print(x)

[1, 2, 3, 0, 'Red', 'Green', 'Black']

In [143]:
''' 15. Write a Python program to select an item randomly from a list.
        Data:
            x = ['Red', 'Blue', 'Green', 'White', 'Black']
        Expected Output:
            White '''
import random
x = ['Red', 'Blue', 'Green', 'White', 'Black']

print(random.choice(x))

White

In [145]:
''' 16. Write a Python program to get unique values from a list.
        Data:
            Original List :  [10, 20, 30, 40, 20, 50, 60, 40]
        Expected Output:
            List of unique numbers :  [40, 10, 50, 20, 60, 30] '''

a = [10, 20, 30, 40, 20, 50, 60, 40]

x = []

for i in a:
    if i not in x:
        x.append(i)

print(x)

[10, 20, 30, 40, 50, 60]

In [161]:
''' 17. Write a Python program to get variable unique identification number or string.
        Data:
            var1 = 'Python'
            var2 = 123
        Expected Output:
            186756869b0
            7ffea3a83660 '''
var1 = 'Python'
var2 = 123

id_1 = id(var1)
id_2 = id(var2)

print(id_1)
print(id_2)

140725795500656
140725796419832

In [191]:
''' 18. Write a Python program to print common elements from two lists using set().
        Data:
            x = ("Red", "Green", "Orange", "White")
            y = ("Black", "Green", "White", "Pink")
        Expected Output:
            {'White', 'Green'} '''
x = ("Red", "Green", "Orange", "White")
y = ("Black", "Green", "White", "Pink")

common = set(x) & set(y)

print(common)

{'Green', 'White'}

In [215]:
''' 19. Write a Python program to convert a list of multiple integers into a single integer.
        Data:
            x = [11, 22, 33]
        Expected Output:
            112233 '''

x = [11, 22, 33]

result_str = "".join(str(i) for i in x)

single_integer = int(result_str)

print(single_integer)

TypeError: 'tuple' object is not callable

In [181]:
''' 20. Write a Python program to create multiple lists.
        Data:
            x = {}
        Expected Output:
            {'1': [], '2': [], '3': [], '4': [], '5': [], '6': [], '7': [], '8': [], '9': []} '''

x = {}

for i in range(1,10):
    x[i] = []

print(x)

{1: [], 2: [], 3: [], 4: [], 5: [], 6: [], 7: [], 8: [], 9: []}