# Tuples Simple Questions

In [15]:
'''1. Write a Python program to print convert a list into a tuple.
    Data:
        x = [1,2]
    Expected Output:
        x - [1, 2]
        <class 'list'>
        y - (1, 2)
        <class 'tuple'>'''       
        
x = [1,2]
print("x -", x)
print(type(x))
y = tuple(x)
print("y -", y)
print(type(y))

x - [1, 2]
<class 'list'>
y - (1, 2)
<class 'tuple'>

In [19]:
'''2. Write a Python program to create a tuple with different data types.
    Data:
        x = ("tuples",3.2, 1)
    Expected Output:
        ('tuples', 3.2, 1)'''

x = ("tuples",3.2, 1)
print(x)

('tuples', 3.2, 1)

In [21]:
'''3. Write a Python program to create a tuple with numbers and print the items one by one.
    Data:
        x = 5, 10, 15, 20, 25
    Expected Output:
        <class 'tuple'> 
        (5, 10, 15, 20, 25)
        5
        10
        15
        20
        25'''

x = 5, 10, 15, 20, 25
print(type(x))
print(x)
for i in x:
    print(i)

<class 'tuple'>
(5, 10, 15, 20, 25)
5
10
15
20
25

In [23]:
'''4. Write a Python program to convert a tuple of characters into a string.
    Data:
        x = ('v', 'o', 'l', 'a', 't', 'a', 'l', 'i', 't', 'y')
    Expected Output:
        volatility'''
        
x = ('v', 'o', 'l', 'a', 't', 'a', 'l', 'i', 't', 'y')

y = ''.join(x)

print(y)

volatality

In [27]:
'''5. Write a Python program to convert a tuple into a list.
    Data:
        x=(1,2,3)
    Expected Output:
        (1, 2, 3)
        [1, 2, 3]'''
        
x=(1,2,3)
print(x)
y = list(x)
print(y)

(1, 2, 3)
[1, 2, 3]

In [33]:
'''6. Write a Python program to remove an element from a tuple.
    Data:
        x = ("a","b","c","d")
    Expected Output:
        ('a', 'b', 'd')'''
x = ("a","b","c","d")
y = list(x)
y.remove("c")

z = tuple(y)
print(z)

('a', 'b', 'd')

In [49]:
'''7. Write a Python program to find the length of a tuple.
    Data:
        x = ("positions")
    Expected Output:
        ('p', 'o', 's', 'i', 't', 'i', 'o', 'n', 's')
        9'''
x = ("positions")
y = tuple(x)
print(y)
print(len(x))

('p', 'o', 's', 'i', 't', 'i', 'o', 'n', 's')
9

In [53]:
'''8. Write a Python program to convert a tuple into a dictionary.
    Data:
        x = ((2, "w"),(3, "r"))
    Expected Output:
        {'w': 2, 'r': 3}'''
        
x = ((2, "w"),(3, "r"))
y = dict(x)
print(y)

{2: 'w', 3: 'r'}

In [77]:
'''9. Write a Python program to reverse the tuple elements.
    Data:
        x = ("Baskar")
        x = (5, 10, 15, 20)
    Expected Output:
        ('r', 'a', 'k', 's', 'a', 'B')
        (20, 15, 10, 5)'''

x = ("Baskar")
y = (5, 10, 15, 20)

z1 = tuple(reversed(x))
print(z1)

z2 = tuple(reversed(y))
print(z2)

('r', 'a', 'k', 's', 'a', 'B')
(20, 15, 10, 5)

In [85]:
'''10. Write a Python program to unpack a tuple in several variables.  
    Data:
        x = 4, 8, 3
    Expected Output:
        (4, 8, 3)
        15'''
        
x = 4, 8, 3
print(x)

y = list(x)

z = y[0] + y[1] + y[2]

print(z)

(4, 8, 3)
15

In [87]:
'''11. Write a Python program to create a nested tuple.
    Data:
        x = ("Boss", [8, 4, 6], (1, 2, 3)) 
    Expected Output:
        ('Boss', [8, 4, 6], (1, 2, 3))'''
        
x = ("Boss", [8, 4, 6], (1, 2, 3)) 
print(x)

('Boss', [8, 4, 6], (1, 2, 3))

In [93]:
'''12. Write a Python program to convert a string into a tuple.
    Data:
        x = ("hello")
    Expected Output:
        <class 'str'>
        <class 'tuple'>'''


x = ("hello")
print(type(x))

y = tuple(x)

print(type(y))

<class 'str'>
<class 'tuple'>

In [101]:
"""13. Write a Python program to access tuple elements using index.
    Data:
        x = ('B','a','s','k','a','r')
    Expected Output:
        x[0] is : B
        x[5] is : r"""

x = ('B','a','s','k','a','r')
y = list(x)

print("x[0] is :", y[0])
print("x[5] is :", y[5])

x[0] is : B
x[5] is : r

In [113]:
'''14. Write a Python program to access nested tuple elements using index. 
    Data:
        x = ("Boss", [8, 4, 6], (1, 2, 3)) 
    Expected Output:
        x[0][3] is : s
        x[1][1] is : 4'''
        
x = ("Boss", [8, 4, 6], (1, 2, 3)) 
y = list(x)

print("x[0][3] is :", y[0][2])
print("x[1][1] is :", y[1][1])

x[0][3] is : s
x[1][1] is : 4

In [121]:
'''15. Write a Python program to access tuple elements using negative index.
    Data:
        x = ('B','a','s','k','a','r')
    Expected Output:
        x[-1] is : r
        x[-6] is : B'''

x = ('B','a','s','k','a','r')
print(type(x))

y = list(x)
print(y)

print("x[-1] is :", y[-1])
print("x[-6] is :", y[0])

<class 'tuple'>
['B', 'a', 's', 'k', 'a', 'r']
x[-1] is : r
x[-6] is : B

In [161]:
'''16. Write a Python program to use + and * operators in a tuple and print the results in tuple.
    Data:
        x : (1, 12, 123)
        y : (4, 9)    
    Expected Output:
        z = x + y : (1, 12, 123, 4, 9)
        z * 3 : (1, 12, 123, 4, 9, 1, 12, 123, 4, 9, 1, 12, 123, 4, 9)'''
x = (1, 12, 123)
y = (4, 9)
r = z1 + z2
print("z = x + y :", r)

r1 = x * 3
r3 = r1 + y

print("z * 3 :", r3)

z = x + y : (1, 12, 123, 4, 9)
z * 3 : (1, 12, 123, 1, 12, 123, 1, 12, 123, 4, 9)

In [173]:
'''17. Write a Python program to print each elements of a tuple using for loop.
    Data:
        Tuple x = ('boss','sai')
    Expected Output:
        Hello boss
        Hello bala'''


x = ('boss','sai')

print("Hello", y[0])
print("Hello", y[1])

Hello boss
Hello sai

In [191]:
'''18. Write a Python program to print the count of 'p' and the index of 'l' from the given tuple using tuple methods.
    Data: 
        x = ('a', 'p', 'p', 'l', 'e')
    Expected Output:
        Count of p is : 2
        Index of l is : 3'''

x = ('a', 'p', 'p', 'l', 'e')
y = list(x)

print("Count of p is :", x.count('p'))
print("Index of l is :", y.index('l'))

Count of p is : 2
Index of l is : 3

In [9]:
19. Write a Python program to update an element of a given tuple from 7 to 77.
    Data:
        x = (1, [9, 8, 7], "boss")
    Expected Output:
        (1, [9, 8, 7], 'boss')
        (1, [9, 8, 77], 'boss')

In [219]:
'''20. Write a Python program to slice a tuple.
    Data: 
        x = (11, 22, 33, 44, 55, 66, 77, 88, 99)
    Expected Output:
        (11, 22, 33, 44, 55, 66, 77, 88, 99)
        (33, 44, 55)
        (11, 22, 33, 44)
        (55, 66, 77, 88, 99)
        (55, 66, 77, 88)
        (11, 22, 33, 44, 55, 66, 77, 88, 99)'''
        
x = (11, 22, 33, 44, 55, 66, 77, 88, 99)
print(x)
y = list(x)

print(tuple(y[2:5]))
print(tuple(y[0:4]))
print(tuple(y[4:]))
print(tuple(y[4:8]))
print(x)

(11, 22, 33, 44, 55, 66, 77, 88, 99)
(33, 44, 55)
(11, 22, 33, 44)
(55, 66, 77, 88, 99)
(55, 66, 77, 88)
(11, 22, 33, 44, 55, 66, 77, 88, 99)